{% extends "base.html" %}
{% block title %} KidART - Arts made by Children {% endblock %}

{% block content %}
    <div class="jumbotron p-3">
        <div class="container-fluid text-center mt-5">
            <h1>@KidART</h1>
            <p>Buy unique Arts from the <em>most <b>creative</b> people on Earth</em> - <b>Children</b><br>
            <em>All income is transferred to local charity</em></p>
        </div>
    </div>

{% with messages = get_flashed_messages(with_categories=false) %}
  {% if messages %}
    <ul class="container-fluid text-center flashes">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% for art in arts %}
    {% if (art.id + 1) % 2 == 0 %}
    <div class="card-group justify-content-center">
    {% endif %}
        <div class="card mb-3 mr-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
               <img class="col" src="{{ images[art.id-1] }}" alt="Art Image" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ art.name }}</h5>
                <p class="card-text">{{ art.description }}</p>
                <form action="{{ url_for('add_to_cart') }}" method="post">
                    <input type="hidden" name="art_id" value="{{ art.id }}">
                    <button type="submit" class="btn btn-warning btn-sm">🛒 Add To Card</button>
                </form>
                <form action="{{ url_for('buy_items') }}" method="post">
                    <input type="hidden" name="items_in_basket" value="{{ session['Shoppingcart']}}">
                    <button type="submit" class="btn btn-info btn-sm">Buy Now</button>
                </form>
                <a href="{{ url_for('details', id=art.id, img=images[art.id-1]) }}" class="btn">Details</a>
              </div>
            </div>
          </div>
        </div>
    {% if (art.id + 1) % 2 == 1 %}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}